<section class="map-section text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9">
        <div class="map-wrapper rounded-4 p-3 p-md-4">
          <!-- HEADER -->
          <div class="px-2 px-md-3 pt-1 pb-2">
            <h2 class="font-heading fw-light mb-3">
              Nuclear Energy Across Europe
            </h2>
            <p class="text-white fs-6 fw-light map-subtitle mb-0">
              Explore how nuclear electricity production varies across EU
              countries.
            </p>
          </div>

          <!-- MAP -->
          <div class="europe-map-img position-relative">
            {% include "svg/europe.svg" %}

            <div id="map-tooltip"></div>
          </div>

          <!-- LEGEND -->
          <div
            class="d-flex flex-wrap justify-content-between align-items-center gap-2 px-2 px-md-3 pt-3 pb-1"
          >
            <div class="d-flex align-items-center gap-2">
              <span class="small text-white flex-shrink-0">Lower</span>
              <div class="map-legend rounded-pill flex-shrink-0"></div>
              <span class="small text-white flex-shrink-0">Higher</span>
            </div>
            <p class="small text-white mb-0 fw-light">
              Latest available EU electricity and emissions data (2024).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
